.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{

  background-color: #a7c1eb;
  padding: 10px;
  width: 100vw;
  min-height: 100vh;
  /*float: left;
  /* justify-content: space-evenly; */

}

.tilebackground{
  display: inline-block;
  vertical-align: top;
  z-index: -1;
  background-color:rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 5px;
  /* width: 450px;
  height: 450px; */
  width: 29vw;
  height: 29vw;
  margin: 10px;
}

.tileforeground{
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 29vw;
  height: 29vw;
}

.tilebackgroundgauge {
  display: inline-block;
  vertical-align: top;
  z-index: -1;
  background-color:rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 5px;
  /* width: 450px;
  height: 450px; */
  width: 29vw;
  height: 29vw;
  margin: 10px;
}

.tileforegroundgauge {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 29vw;
  height: 29vw;
}

.tilebackgroundcombo {
  display: inline-block;
  vertical-align: top;
  z-index: -1;
  background-color:rgba(255, 255, 255, 0.3);
  padding: 25px;
  border-radius: 5px;
  /* width: 450px;
  height: 450px; */
  width: 93vw;
  height: 51vw;
  margin: 10px;
}

.tileforegroundcombo {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 93vw;
  height: 51vw;
}

.gauge {
  width: 100%;
  height: 100%;
  align-content: center;
}

.climateform {
  text-align: center;
}

form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


.list{
  margin-left: 20px;
  list-style-type: square
}

.heading{
  font-weight: bold;
  padding: 10px;
  /* margin-left: 10px;
  margin-bottom: 5px */
}

h2 {
  text-align: center;
}

.title{
  font-size: 5vh;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}